.site-header{
	display : grid;
	grid-template-columns: 200px 200px;
	grid-auto-rows: 50px;
    position: fixed;
    top : 20px;
    width: 400px;
    height: 50px;
    box-shadow: 0 0 1px white;
    background-color: white;
}
#menu-button{
	position: absolute;
	top : 15px;
	border: none;
	background-color : white;
	outline: none;
}
#menu:hover{
	color : red;
}

.prout{
	visibility: hidden;
	list-style-type: none;
	background-color: white;
	text-align: center;
	width: 101%;
}
.prout>tbody>tr>td>a{
	font-size: 12px;
	color : black;
	font-family: arial serif;
	text-decoration: unset;
}

.Titre>a{
	font-size: 40px;
	color : black;
	font-family: arial serif;
	text-decoration: unset;
}

#baignoire{
	display: inline-block;
    background-size: cover;
	background-position: center center;
	width: 1000px;
	height: 1000px;

}