
@font-face {
	font-family: GiantFont;
	src: url("GiantFont.otf") format("truetype");
}

@import "commun.css";

/*-------------------TITRE POUR LA PAGE-----------------*/

.content{
    width: fit-content;
    color: red;
    font-family: GiantFont; /*-----------CHAGER LA POLCIE**/
    font-size: 500%;
    border:2px solid red;
    padding:1.5%;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
  }
  
  

