.images{
	display: inline-block;
    background-size: cover;
	background-position: center center;
	border-color: white;
	border-width: 2px;
}

#baignoire{
	width: 33%;
	height: 33%;
}

#coupe{
	width: 33%;
	height: 33%;

}
#lien-mardi3{
	position: relative;
	left:33.3%;
}
#mardi3{
	width: 33%;
	height: 33%;
	visibility: hidden;
	z-index: 5;
}

#mardi4{
	width: 33%;
	height: 33%;
	z-index: 5;
	
}

#rat{
	width: 33%;
	height: 33%;
}
#video{
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	z-index: 5;
}