#lien-images{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

    background-size: cover;
	background-position: center center;
}

#lien-images>a{
	text-decoration: none;
}

#baignoire{
	width: 100%;
	height: 100%;
}

#coupe{
	width: 100%;
	height: 100%;

}
#lien-mardi3{
	grid-column-start: 2;
	grid-row-start: 2;
}
#mardi3{
	width: 100%;
	height: 100%;
	visibility: hidden;
	z-index: 5;
}
#lien-mardi4{
	grid-column-start: 2;
	grid-row-start: 2;
}
#mardi4{
	width: 100%;
	height: 100%;
	z-index: 5;	
}

#rat{
	width: 100%;
	height: 100%;
}
#video{
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	z-index: 5;
}

