.images{
	display: inline-block;
    background-size: cover;
	background-position: center center;
}

#baignoire{
	margin-left: 4px;
	margin-top: 4px;
	width: 32.9%;
	height: 32.9%;
}

#coupe{
	width: 32.9%;
	height: 32.9%;

}
#lien-mardi3{
	position: relative;
	left:33.3%;
}
#mardi3{
	width: 32.9%;
	height: 32.9%;
	visibility: hidden;
	z-index: 5;
}

#mardi4{
	width: 32.9%;
	height: 32.9%;
	z-index: 5;	
}

#rat{
	margin-right: 4px;
	width: 32.9%;
	height: 32.9%;
}
#video{
	width: 50%;
	height: 50%;
	position: relative;
	left: 25%;
	z-index: 5;
}